@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --background-primary: #11100f;
    --background-secondary: #1d1c1b;
    --highlight-online: #00ff33;
    --highlight-offline: #ff0000;
}

* {
    box-sizing: border-box;
    outline: none;
}

*::-webkit-scrollbar {
    width: 7px;
}

*::-webkit-scrollbar-track {
    background: var(--background-secondary) !important;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--background-primary);
    border: 0px;
}

html,
body {
    height: 100%;
    font-family: Roboto, monospace !important;
}

body {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    background-color: var(--background-primary) !important;
    color: #fff !important;
}

.online-highlight {
    opacity: 1 !important;
}

#wrapper[data-online='true'] .online-highlight {
    color: var(--highlight-online);
}

#wrapper[data-online='false'] .online-highlight {
    color: var(--highlight-offline);
}

#wrapper {
    width: 100%;
    max-width: 550px;
    padding: .5em 2em;
}  

#wrapper p {
    font-weight: bold !important;
}

#wrapper h1,
#wrapper h2, 
#wrapper h3 {
    font-weight: bolder;
    margin: 0;
}

#wrapper header > div {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0.5em;
}

#wrapper header > div > div  {
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

#wrapper .form-control {
    background-color: var(--background-primary);
    color: #fff;
    font-weight: bold;
    border-width: 2px;
    border-radius: 10px !important;
}

#wrapper[data-online='true'] .form-control {
    color: var(--highlight-online);
    border-color: var(--highlight-online);
}

#wrapper[data-online='false'] .form-control {
    color: var(--highlight-offline);
    border-color: var(--highlight-offline);
}

#wrapper[data-online='true'] .form-control:focus {
    box-shadow: 0 0 0 0.25rem rgba(0, 255, 51, 0.25);
}

#wrapper[data-online='false'] .form-control:focus {
    box-shadow: 0 0 0 0.25rem rgba(255, 0, 0, 0.25);
}

#wrapper main {
    padding: 2em 0.5em;
    overflow: auto;
    border-radius: 12px;
    background-color: var(--background-secondary);
    border: 2px solid transparent;
}

#wrapper main > div {
    overflow: auto;
    max-height: 250px;
}

#div-buttons button {
    background-color: var(--background-secondary);
    color: #fff;
    border: 0px;
    cursor: pointer;
    opacity: 0.65;
}

#div-buttons > button > small {
    font-weight: bolder;
    text-transform: uppercase;
    display: block;
    margin-top: 3px;
    cursor: pointer;
    font-size: 0.75em;
}

#wrapper[data-online='true'] #div-buttons button:hover {
    color: var(--highlight-online);
    opacity: 1;
}

#wrapper[data-online='false'] #div-buttons button:hover {
    color: var(--highlight-offline);
    opacity: 1;
}

#ul-last-time,
#ul-logs {
    font-family: monospace;
}

#wrapper main ul {
    opacity: 0.8;
    text-align: center;
    text-transform: uppercase;
    list-style: none;
    padding: 0;
    margin: 0;
    color: #ffffff;
}

#wrapper main ul li {
    padding: 3px 0;
}

#wrapper main ul li[data-online='true'] strong {
    color: var(--highlight-online);
}

#wrapper main ul li[data-online='false'] strong {
    color: var(--highlight-offline);
}

#wrapper h1,
#wrapper h2, 
footer label,
footer small {
    opacity: 0.65;
}

#wrapper footer a {
    font-weight: bolder;
    text-decoration: none;
}

#wrapper footer a:hover {
    text-decoration: underline;
}

#wrapper footer a.btn:hover {
    text-decoration: none;
}

@media print {
    html, 
    body, 
    main, 
    * {
        background-color: #ffffff !important;
        color: #000000 !important;
        box-shadow: none !important;
        border-color: #000 !important;
        opacity: 1 !important;
    }

    #wrapper main > div {
        max-height: none !important;
    }

    #div-buttons {
        display: none !important;
    }

    #ul-logs li {
        font-weight: normal !important;
    }
}